.projects {
  height: 100%;
  min-height: 101vh;
  min-width: 100vw;
  box-sizing: border-box;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Begum', sans-serif;
  z-index: 1;
  margin-top: -4px;
  transition: background-color 2s ease;

  &__controls {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    margin-top: 6rem;

    button {
      background: none;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 0 0.5rem;
      opacity: 1;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        cursor: default;
        opacity: 0.7;
      }
    }

    span {
      font-size: 1.2rem;
      margin: 0 0.5rem;
      width: 75px;
      text-align: center;
      display: inline-block;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    &.hidden {
      visibility: hidden;
    }

    &__details {
      flex-basis: 60%;
      padding-right: 2rem;

      h2 {
        font-size: 4rem;
        margin: 1rem 5rem;
        text-align: left;
      }

      p {
        white-space: pre-line;
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: left;
        margin: 1rem 5rem;
      }
    }

    &__screenshots {
      position: relative;
      flex-basis: 40%;
      perspective: 1500px;
      margin-top: -2rem;

      &__carousel {
        position: relative;
        height: 400px;
        width: 400px;
        transform-style: preserve-3d;
        transform: rotateY(-30deg);
        opacity: 1;

        .screenshot {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.6;
          object-fit: cover;
          backface-visibility: hidden;
          transition: transform 0.8s ease, opacity 0.8s ease;
          z-index: 1;
        }

        .active {
          opacity: 1;
          z-index: 10;
        }

        &.animate {
          opacity: 1;
        }
      }

      /* ANIMATIONS FOR SCREENSHOTS */
      &.animate-outgoing,
      &.animate-incoming {
        animation-fill-mode: forwards;
      }

      &.animate-outgoing {
        --startX: 0;
        --endX: 150%;
        animation: slideOutHorizontal 1.5s ease-in-out;
      }

      &.animate-incoming {
        --startX: 150%;
        --endX: 0;
        animation: slideInHorizontal 1.5s ease-in-out;
      }
    }
  }

  /* ANIMATIONS FOR h2 AND p */
  &__title,
  &__description {
    &.animate-outgoing,
    &.animate-incoming {
      animation-fill-mode: forwards;
    }

    &.animate-outgoing {
      --startX: 0;
      --endX: -150%;
      animation: slideOutHorizontal 1.5s ease-in-out;
    }

    &.animate-incoming {
      --startX: -150%;
      --endX: 0;
      animation: slideInHorizontal 1.5s ease-in-out;
    }

    &.animate-outgoing.description {
      --startY: 0;
      --endY: 150%;
      animation: slideOutVertical 1.5s ease-in-out;
    }

    &.animate-incoming.description {
      --startY: 150%;
      --endY: 0;
      animation: slideInVertical 1.5s ease-in-out;
    }
  }
}

.stagger-1 {
  animation-delay: 0s;
}

.stagger-2 {
  animation-delay: 0.5s;
}

.stagger-3 {
  animation-delay: 0.75s;
}

@keyframes slideOutHorizontal {
  from {
    transform: translateX(var(--startX, 0));
    opacity: 1;
  }
  to {
    transform: translateX(var(--endX, 0));
    opacity: 0;
  }
}

@keyframes slideInHorizontal {
  from {
    transform: translateX(var(--startX, 0));
    opacity: 0;
  }
  to {
    transform: translateX(var(--endX, 0));
    opacity: 1;
  }
}

@keyframes slideOutVertical {
  from {
    transform: translateY(var(--startY, 0));
    opacity: 1;
  }
  to {
    transform: translateY(var(--endY, 0));
    opacity: 0;
  }
}

@keyframes slideInVertical {
  from {
    transform: translateY(var(--startY, 0));
    opacity: 0;
  }
  to {
    transform: translateY(var(--endY, 0));
    opacity: 1;
  }
}
