@import '@/styles/main.scss';

.hero-video {
  position: absolute;
  top: 0;
  left: -20%;
  height: 80vh;
  width: 200vw;
  opacity: 0;
  transition: opacity 4s ease-in;

  &.animate {
    animation: fadeIn 4s ease-in forwards 3s;
  }

  @include respond-to('tablet') {
    left: 0;
    width: 150vw;
  }

  @include respond-to('desktop') {
    left: -5%;
  }

  @include respond-to('largeDesktop') {
    top: 10%;
    left: 12%;
    height: 60vh;
    width: 50vw;
  }

  @include respond-to('extraLargeDesktop') {
    left: 15%;
    width: 40vw;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
