.hero-video {
  position: absolute;
  top: 10%;
  left: 5%;
  height: 60vh;
  opacity: 0;
  transition: opacity 4s ease-in;

  &.animate {
    animation: fadeIn 4s ease-in forwards 3s;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
