@import '@/styles/main.scss';

.hero-video {
  position: absolute;
  top: 0;
  left: -20%;
  height: 80vh;
  width: 50vw;
  opacity: 0;
  transition: opacity 4s ease-in;

  &.animate {
    animation: fadeIn 4s ease-in forwards 3s;
  }

  @include respond-to('desktop') {
    top: 10%;
    left: 5%;
    height: 60vh;
  }

  @include respond-to('largeDesktop') {
    width: 40vw;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .hero-video {
    left: -20%;
  }
}
