.clients {
  display: flex;

  * {
    font-family: 'Begum', sans-serif;
  }

  &__lineContainer {
    width: 50px;
    height: 1px;
    display: flex;

    .line {
      height: 1px;
      background-color: white;
      width: 0;
      visibility: hidden;
      transition: width 0.6s ease-out, visibility 0s 1s;
      flex-shrink: 0;

      &.animate {
        width: 100%;
        visibility: visible;
        transition: width 0.6s ease-out, visibility 0s;
      }
    }
  }

  &__title {
    flex-basis: 40%;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 0.5rem;

    h2 {
      font-family: 'gt walsheim';
      font-weight: 400;
      text-align: left;
      line-height: 0;
      font-size: 1.1rem;
      margin: 0;
      padding-left: 40px;
      opacity: 0;
      transition: opacity 0.7s ease-out 0.4s;
    }

    &.animate {
      h2 {
        opacity: 1;
      }
    }
  }

  &__content {
    flex-basis: 60%;
  }

  &__description {
    text-align: left;
    font-size: 1.3rem;
    opacity: 0;
    transform: translateY(40px);
    transition: transform 2.2s ease-out, opacity 1.5s ease-out;

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;

    .logo {
      display: inline-block;
      width: 25%;
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
      transition: transform 1.5s ease-out, opacity 1.5s ease-out,
        visibility 0s linear 1.5s;

      &.animate {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: transform 1.5s ease-out, opacity 1.5s ease-out,
          visibility 0s;
      }

      img {
        max-width: 100%;
        margin: 1rem 0;
      }
    }
  }
}
