@import '@/styles/_breakpoints.scss';

.skills {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;

  * {
    font-family: 'Begum', sans-serif;
  }

  &__left {
    flex-basis: 30%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-top: 1rem;

    @include respond-to('largeDesktop') {
      margin-right: 10%;
    }

    @include respond-to('extraLargeDesktop') {
      margin-right: 10%;
    }
  }

  &__title {
    flex-basis: 40%;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 0.5rem;

    h2 {
      font-family: 'gt walsheim';
      font-weight: 400;
      text-align: left;
      line-height: 0;
      font-size: 1.1rem;
      margin: 0;
      padding-left: 40px;
      opacity: 0;
      transition: opacity 0.7s ease-out 0.4s;
    }

    &.animate {
      h2 {
        opacity: 1;
      }
    }
  }

  &__arrow {
    left: -25%;
    top: -13%;
    pointer-events: none;
    transform: scaleY(0.95);
    opacity: 0;

    &__message {
      position: absolute;
      top: 25%;
      left: -7%;
      font-family: 'Caveat', cursive;
      font-weight: 100;
      font-size: 20px;
      width: 100px;
      transform: rotateZ(55deg);
      opacity: 0;

      &.animate {
        animation: fadeIn 2s ease forwards 1.7s;
      }
    }

    &.animate {
      animation: fadeIn 2s ease forwards 1.2s;
    }

    @include respond-to('extraLargeDesktop') {
      left: -20%;
      top: -14%;

      &__message {
        left: -5%;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.3rem;
    opacity: 0;
    transform: translateY(60px);
    transition: transform 2s ease-out, opacity 1.5s ease-out;

    ul {
      margin: 0;
      padding: 5rem 0 5rem 2rem;
    }

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }

    &__line {
      justify-content: center;
      margin-right: 20px;
      margin-top: 15px;
    }
  }

  &__menuItem {
    cursor: pointer;
    display: flex;
    font-size: 20px;
    margin-bottom: 0.5rem;

    * {
      color: #515151;
      letter-spacing: normal;
      transition: color 0.5s ease-out, letter-spacing 0.5s ease-out;
    }

    &__id {
      width: 20px;
      font-family: 'gt walsheim';
      font-weight: 400;
      margin-right: 40px;
    }

    &__name {
      font-family: 'gt walsheim';
      font-weight: 400;
    }

    &:hover,
    &.selected {
      * {
        color: white;
      }

      .skills__menuItem__name {
        letter-spacing: 1px;
      }
    }

    @include respond-to('extraLargeDesktop') {
      margin-bottom: 0;

      &__id {
        font-size: 1.5rem;
      }

      &__name {
        font-size: 1.5rem;
      }
    }
  }

  &__content {
    opacity: 1;
    transform: translateY(0);

    img {
      height: 120px;
      max-width: 300px;
      object-fit: contain;
      filter: invert(1) brightness(2);
      opacity: 0.7;
    }

    p {
      opacity: 0.7;
    }

    @include respond-to('extraLargeDesktop') {
      img {
        height: 150px;
        max-width: 400px;
      }

      h2 {
        font-size: 1.7rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }
}
