@import '@/styles/main.scss';

.about-video {
  position: absolute;
  top: 0;
  left: -20%;
  height: 80vh;
  width: 200vw;
  opacity: 0;
  transition: opacity 4s ease-in;
  z-index: -1000;

  &.animate {
    animation: fadeIn 4s ease-in forwards 1.5s;
  }

  @include respond-to('tablet') {
    left: 0;
    width: 150vw;
  }

  @include respond-to('desktop') {
    left: -5%;
  }

  @include respond-to('largeDesktop') {
    height: 70vh;
    width: 150vw;
    left: -200%;
  }

  @include respond-to('extraLargeDesktop') {
    top: -20%;
    width: 50vw;
    left: -100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
