@import '@/styles/main.scss';

.navbar {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;

  * {
    font-family: 'gt walsheim';
    font-weight: 400;
  }

  &--scrolled {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &--reachedContact {
    background-color: #f9f9f7 !important;
    z-index: 1000;

    * {
      color: black !important;
    }
  }

  &__container {
    padding: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.3s ease;

    @include respond-to('tablet') {
      padding: 1rem 2rem;
    }

    @include respond-to('largeDesktop') {
      max-width: 1600px;
    }
  }

  &__logo {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 32px;
    transition: text-shadow 0.3s ease;

    &:hover {
      color: white;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
    }
  }

  &__hamburger {
    position: relative;
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    z-index: 1001;

    svg {
      width: 24px;
      height: 24px;
    }

    &.active {
      margin-right: -0.8rem;
    }

    @include respond-to('desktop') {
      display: none;
    }
  }

  &__content {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      min-width: fit-content;
      background-color: rgba(0, 0, 0, 0.95);
      transition: background-color 0.3s ease;
      z-index: 999;
      padding: 6rem 1rem 0;
      border-left: 1px solid white;

      a {
        font-size: 1rem;
        color: white;
        text-decoration: none;
        transition: text-shadow 0.3s ease;

        &:hover {
          text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
        }

        &:focus {
          outline: none;
        }
      }
    }

    @include respond-to('tablet') {
      display: flex;
      flex-direction: row;
      position: static;
      height: auto;
      width: auto;
      background-color: transparent;

      a {
        margin: 0;
        font-size: 1rem;

        &:hover {
          text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
          color: white;
        }
      }
    }

    & a {
      color: white;
      padding: 0.5rem;
      padding-top: 1rem;
      transition: color 0.3s ease;
    }

    &__link {
      cursor: pointer;
      color: white;
      text-decoration: none;
      transition: color 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
        color: white;
      }

      @include respond-to('tablet') {
        margin-left: 1.5rem;
      }
    }
  }
}

.navbar--scrolled,
.navbar--reachedContact {
  & .navbar__container {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1023px) {
  .navbar__content {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar__content {
    display: flex;
  }
  .navbar__hamburger {
    display: none;
  }
}
