.navbar {
  z-index: 2;
  width: 100%;
  max-width: 1280px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  padding: 2rem;
  font-weight: bold;

  &__logo {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
  }

  &__content {
    display: flex;
    align-items: flex-start;

    & > p {
      padding: 0.5rem;
      padding-top: 1rem;
    }
  }

  p {
    cursor: pointer;
    margin-top: 0;

    &:hover {
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
    }
  }
}
