.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 7rem;
  height: 200px;
  width: 100%;
  min-width: 100vw;
  background-color: white;
  z-index: 20;
  border: 2px solid red;

  * {
    color: black;
  }

  p {
    margin: 0;
  }

  &__links {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }
}
