@font-face {
  font-family: 'Begum';
  src: url('/fonts/Begum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt walsheim';
  src: url('/fonts/gt-walsheim-regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gt walsheim';
  src: url('/fonts/gt-walsheim-bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gt walsheim';
  src: url('/fonts/gt-walsheim-medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
